<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/curator.js}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}"/>
    <meta charset="utf-8"/>
    <title>Findings Viewer</title>
</head>
<body>
<div class="container-fluid">

    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]] !</h3>

    <p>You will soon get to view here, all the parsed content to be reviewed and approved.</p>

    <div>
        <p>Sample parsing results to be reviewed</p>
        <table id="findings">
            <thead>
            <tr>
                <td>Id</td>
                <td>Type</td>
                <td>Highlights</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <p><br/>
        Until then, you can play with our API <a th:href="@{/swagger-ui.html#/}">here</a></p>

    <br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>